*{
    margin:0;
    padding:0;
    box-sizing:border-box;  
}
:root{
    --White: #ffffff;
    --Primary-backgroundstone: #f3e5d5;
    --Stone15: #e4ded8;
    --Stone6: #5e574f;
    --Stone9: #302d2c;
    --Brown: #854632;
    --Rose8: #7b284f;
    --Rose5: #fff5fa;
}
.maincontent h1 , .maincontent h2{
    font-family: 'young serif', serif; 
    color:var(--Stone9);

}
.maincontent{
    background-color:var(--Primary-backgroundstone);
    padding:40px; 
    font-family:'outfit',sans-serif;
    color:var(--Stone6);
    font-weight: 400;   
}
.container{
    max-width: 550px;
    background-color:var(--White);
    padding:20px;
    border-radius: 10px;   
}
img{
    border-radius:10px;
}
.preparationtime{
    background-color:var(--Rose5);
    border-radius:5px;

}
.preparationtime p{
    font-size:x-large;
    padding-top:10px;
    padding-left:20px;
    color:var(--Rose8);
    font-weight:600;

}
.preparationtime ul{
    padding-left:50px;
    line-height: 2.5rem;
    list-style-type: square;
}
.Ingredients ul{
    padding-left:40px;
    line-height: 2.5rem;
    list-style-type: square;
}
.maincontent h2{
    color:var(--Brown);
    font-size:x-large;
}
.Instruction ol{
    padding-left:40px;
    line-height: 2.5rem;
}

table{
    border-collapse: collapse;
    
}
tr{
    line-height: 5rem;
}
td{
    width:40rem;
    border-bottom: .01px solid grey;
}

.bold{
    color:var(--Brown);

}